<%- include("../templates/encabezado") %>

<style>




    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 3px;
        padding: 0;
        width: 100%;
        width: 100%;
height: 100%;
/* Add your background pattern here */
background-color: #e5e5f7;
background-image: radial-gradient(#444cf7 10%, transparent 10%),
                  radial-gradient(#444cf7 10%, transparent 10%);
background-size: 100px 100px;
background-position: 0 0, 50px 50px;
    }

    header {
        
        padding: 20px;
        text-align: center; /* Alinear el texto al centro */

        

    }

    nav {
        display: flex;
        justify-content: center; /* Centrar los elementos horizontalmente */
        align-items: center; /* Centrar los elementos verticalmente */
        background-color: #444cf7; /* Fondo pastel */
        border-radius: 20px; /* Bordes curvos */
        overflow: hidden; /* Evitar desbordamiento de bordes curvos */


        
    }

    .menu-item {
        text-decoration: none;
        color: #ffffff; /* Color de enlaces en tono pastel */
        font-size: 22px; /* Tamaño de fuente más pequeño */
        transition: color 0.3s;
        transition: transform 0.3s;
        padding: 25px 30px; /* Espaciado interno */
        margin: 0 5px; /* Espaciado entre elementos del menú */
        border-radius: 14px 14px; /* Bordes curvos */
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: bold;
    }

    .menu-item:hover  {
        background-color: rgb(229, 233, 238);   
        color: #444cf7;
        text-decoration: none;
        font-size: 23px;
        transform: scale(1.1);
        border-radius: 14px;
    }

    .menunav {
        width: 100%;
        height: 50px;
        border-radius: 20px; /* Bordes curvos */
        overflow: hidden; /* Evitar desbordamiento de bordes curvos */
    }

    .user-icon {
        background-color: white;   
        color: #444cf7;
        text-decoration: none;
        font-size: 22px;
        border-radius: 14px 14px;
        padding: 3px;
        transition: transform 0.3s;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: bold;
    }

    .user-icon:hover {
        transform: scale(1.1); /* Escalar el elemento al 110% al pasar el ratón por encima */
        text-decoration: none;
    }

    

</style>
</head>
<body>

<header>
    <nav class="menunav">
        
        <a class="menu-item" href="/inicio/<%=user.id%>">INICIO</a>
        <a class="menu-item" href="/comprar/<%=user.id%>">COMPRAR</a>
        <a class="menu-item" href="/ubicacion/<%=user.id%>">UBICACION</a>
        <a class="menu-item" href="/nosotros/<%=user.id%>">NOSOTROS</a>
        <a class="menu-item" href="/perfil/<%=user.id%>">PERFIL</a>
        
        <a class="user-icon" href='/cerrarSesion'">CERRAR SESION</a>
    </nav>
</header>

</body>
</html>


<style>
     .shine-text {
        animation: shine 2s infinite;
    }

    @keyframes shine {
        to {
            background-position: 200% center;
        }
    }

    .details-btn {
        transition: transform 0.3s;
    }

    .details-btn:hover {
        transform: scale(1.1);
    }

    .container-welcome {
        text-align: center;
        background-color:#444cf7; /* Fondo amarillo pastel */
        padding: 20px;
    }

    .container-welcome h1 {
        font-size: 3rem;
        color: #fff;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
        font-weight: bold;
        letter-spacing: 2px;
    }

    .container-welcome h2 {
        font-size: 1.8rem;
        color: #faf9f9;
    font-style: bold;
    }

    
    .container-products {
        background-color: #444cf7; 
        padding: 20px;
    }

    .card {
        background-color: #f5e8e6;
    }

    .card-title {
        color: #0092dd;
    }

    .rainbow-bg {
    background: linear-gradient(to right, rgb(41, 30, 194), indigo, blue, green, yellow, orange, red);
    background-size: 1400% 100%;
    animation: rainbowSlide 300s linear infinite;
}

@keyframes rainbowSlide {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1400% 0;
    }
}
</style>

<div class="container-welcome rainbow-bg">
    <div class="side-image left-image"></div>
    <h1>Bienvenido a <span style="color: #fff;">Boca de Caramelo</span></h1>
    <h2>Que bueno volver a verte <span class="text-warning"><%=user.nombre%></span></h2>
    <h2>"Abre tu Boca a un mundo de sabores"</h2>
    <div class="side-image left-image"></div>
</div>


<div class="container-products mt-5">
    <h2 class="text-center mb-4" style="color: #ffffff; font-weight: bold;">CATEGORÍAS</h2>
    <div class="row">
        <!-- Comida Rápida -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #ff6f61; font-weight: bold;">Comida Rápida</h5>
                    <p class="card-text">Disfruta de nuestra deliciosa selección de comida rápida. ¡Satisfacción garantizada!</p>
                    <p class="card-text" style="font-weight: bold; color: #0092dd;">¡COMPRA YA!</p>
                    <a href="/comidaR/<%=user.id%>" class="btn btn-primary details-btn" id="id">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Helados -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #ff6f61; font-weight: bold;">Helados</h5>
                    <p class="card-text">Descubre nuestros helados de alta calidad con sabores irresistibles. ¡Una experiencia refrescante!</p>
                    <p class="card-text" style="font-weight: bold; color: #0092dd;">¡COMPRA YA!</p>
                    <a href="/helados/<%=user.id%>" class="btn btn-primary details-btn" id="id">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Chicles -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #ff6f61; font-weight: bold;">Chicles</h5>
                    <p class="card-text">Explora nuestra variedad de chicles con sabores únicos. ¡Una explosión de frescura!</p>
                    <p class="card-text" style="font-weight: bold; color: #0092dd;">¡COMPRA YA!</p>
                    <a href="/chicles/<%=user.id%>" class="btn btn-primary details-btn" id="id">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Dulces y Golosinas -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #ff6f61; font-weight: bold;">Dulces y Golosinas</h5>
                    <p class="card-text">Déjate tentar por nuestra amplia selección de dulces y golosinas. ¡Sabor inigualable!</p>
                    <p class="card-text" style="font-weight: bold; color: #0092dd;">¡COMPRA YA!</p>
                    <a href="/dulces/<%=user.id%>" class="btn btn-primary details-btn" id="id">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Bebidas -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #ff6f61; font-weight: bold;">Bebidas</h5>
                    <p class="card-text">Refresca tu día con nuestras deliciosas bebidas. ¡Una explosión de sabores!</p>
                    <p class="card-text" style="font-weight: bold; color: #0092dd;">¡COMPRA YA!</p>
                    <a href="/bebidas/<%=user.id%>" class="btn btn-primary details-btn" id="id">Ver detalles</a>
                </div>
            </div>
        </div>

        <!-- Galletas -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #ff6f61; font-weight: bold;">Galletas</h5>
                    <p class="card-text">Disfruta de nuestras irresistibles galletas con diversos sabores. ¡Una delicia crujiente!</p>
                    <p class="card-text" style="font-weight: bold; color: #0092dd;">¡COMPRA YA!</p>
                    <a href="/galletas/<%=user.id%>" class="btn btn-primary details-btn" id="id">Ver detalles</a>
                </div>
            </div>
        </div>
    </div>
</div>


